<.table id="scoreboards" rows={@scoreboards}>
  <:col :let={scoreboard} label="First name"><%= scoreboard.first_name %></:col>
  <:col :let={scoreboard} label="Last name"><%= scoreboard.last_name %></:col>
  <:col :let={scoreboard} label="Game"><%= scoreboard.game %></:col>
  <:col :let={scoreboard} label="Average score"><%= Decimal.round(scoreboard.score, 2) %></:col>
  <:col :let={scoreboard} label="Total Number Of Scores Recorded">
    <%= scoreboard.scores_recorded %>
  </:col>
</.table>
